name: Selenium workflow

on:
  schedule:
    - cron: '0 9 * * 1-5'
  workflow_dispatch:

jobs:
  run-selenium:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Set up env
        run: |
          sudo apt-get update

      - name: Run Tests with Maven
        run: mvn clean test -Dheadless=true

# TODO      - name: Export test results
